body{
    margin:0px;
}
html{
    scroll-behavior: smooth;
}
nav a{
    text-decoration: none;
    color:#7B542F;
    font-size: 17px;
    font-family: "Sofia", sans-serif;
    padding: 10px 15px;
    transition: ease-in-out 0.4s;
    font-family: 'Cal Sans';
}
nav a:hover{
    font-size: larger;
    color:#FF9D00;
}
header{
    width: 100%;
    justify-content: space-between;
    display: flex;
    text-align:center;
    box-shadow: 0px 0px 5px;
    background-color:#ffe4ad;
    position: fixed;
}
nav{
    padding: 10px;
    text-align: right;
}
.home{
    height: 800px;
    background-color: rgb(255, 206, 217);
    padding-top: 100px;
}
.deskripsiHome{
    margin-left: 50px;
& h1{
    color: rgb(128, 59, 7);
    font-size: 100px;
    font-family: 'Cal Sans';
}
& h3{
    color: #694000;
    font-size: 30px;  
    font-family: 'Cal Sans';
    background-color: rgba(255, 135, 23, 0.417);
    border-radius: 10px;
}
}
section.home{
    height: 800px;
    background-position-y: top 0px;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-image:url("Gemini_Generated_Image_7mcdtk7mcdtk7mcd.png")
}
.containerHome{
    width: 50%;
    margin-left: 10px;
    padding-top: 25px;
}
section.product{
    height: 800px;
    text-align: center;
}
.deskripsiProduct{

}
section.profile{
    height: 800px;
    text-align: center;
}
.cardProfile{
    background-color: rgb(213, 209, 209);
    padding: 15px;
    width:300px;
    margin: auto;
    text-align: center;
}
.kotakBiotek{
    width: 40%;
    margin-left: 50px;
    padding-top: 100px;
}
.namaBiotek{
    font-size: 50px;
}
.deskBiotek{
    color: aliceblue;
    font-size: 20px;
}
.main{
background-attachment: fixed;
}
